<nav class="navbar navbar-expand bg-primary" data-bs-theme="dark">
  <div class="container-fluid flex-wrap">
    <div id="logos" class="d-flex align-items-center">
      <img src="./assets/designers_mind_logo.png" id="dm-logo" />
      <a class="navbar-brand" routerLink="/">Designer's Mind Online</a>
    </div>
    <div id="nav-links" class="flex-grow-1">
      <ul class="navbar-nav d-flex flex-row justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
    <div id="search-and-cart" class="d-flex align-items-center">
      <div id="search">
        <app-search></app-search>
      </div>
      <div id="cart" class="mx-2">
        <app-cart-widget></app-cart-widget>
      </div>
    </div>
  </div>
</nav>
