
<h2>Products</h2>
<div *ngIf="!productsDataLoaded">
  <p>Loading...</p>
</div>

<div *ngIf="productsDataLoaded">
  <div class="row">
    <div *ngFor="let product of products" class="col-md-3 mb-3">
      <div class="card" style="width: 100%">
        <img *ngIf="product.imageUrls!.length >0"
        [src]="product.imageUrls[0]" [alt]="product.name" class="card -img-top">
        <div class="card-body">
          <h5 class="card-title">{{product.name}} </h5>
          <p class="card-text">{{product.description}} </p>
          <h4 class="card-text bold">${{product.price}} </h4>
          <a class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
