<ng-template #loading>
  <p>Loading product details...</p>
</ng-template>

<div *ngIf="product; else loading">
  <div id="detail-content">
    <div id="detail-card" class="card">
      <h2>{{ product.name }}</h2>
      <img
        *ngIf="product.imageUrls!.length > 0"
        [src]="product.imageUrls[0]"
        [alt]="product.name"
        class="img-fluid w-50"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text fw-bold">Description: {{ product.description }}</p>
        <h4 class="card-text bold">${{ product.price }}</h4>
        <app-add-to-cart [childProduct]="product"></app-add-to-cart>
      </div>
    </div>
  </div>
</div>
