<h2>Shopping Cart</h2>

<div *ngIf="items.length === 0" class="card">
  <div class="card-body">
    <h3 class="card-title">Your cart is empty {{ ":(" }}</h3>
    <p class="card-text">
      Check out the products to find some great gift ideas!
    </p>
    <a routerLink="/products" class="btn btn-primary">Products</a>
  </div>
</div>

<div *ngIf="items.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price Ea.</th>
        <th>Quantity</th>
        <th>Price Total</th>
        <th><img src="./assets/trash.svg" alt="" /></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items" class="table-primary">
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.quantity * item.product.price | number : "1.2-2" }}</td>
        <td>
          <img
            (click)="removeItem(item.product); $event.stopPropagation()"
            src="./assets/trash.svg"
            alt="Remove from cart"
            style="cursor: pointer"
          />
        </td>
      </tr>
      <tr class="table-secondary">
        <td>
          Total:
          <!-- '1.2-2' means {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}:
          A minimum of 1 digit will be shown before decimal point
          It will show at least 2 digits after decimal point
          But not more than 2 digits
          -->
          {{ total | number : "1.2-2" }}
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/products">
    <button class="btn btn-light m-1">Keep shopping</button>
  </a>
  <button class="btn btn-dark m-1">Continue to payment</button>
</div>
