<h2>Shopping Cart</h2>

<div *ngIf="items.length === 0" class="card">
  <div class="card-body">
    <h3 class="card-title">Your cart is empty {{ ":(" }}</h3>
    <p class="card-text">
      Check out the products to find some great gift ideas!
    </p>
    <a routerLink="/products" class="btn btn-primary">Products</a>
  </div>
</div>

<div *ngIf="items.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price Ea.</th>
        <th>Quantity</th>
        <th>Price Total</th>
        <th>
          <img
            src="./assets/trash-can-svgrepo-com.svg"
            alt="trashcan"
            class="img-fluid"
            style="max-height: 29px"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items" class="table-primary align-middle">
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}</td>
        <!-- <td>{{ item.quantity }}</td> -->
        <td id="quantity">
          <div data-mdb-input-init class="form-outline">
            <!-- // Ex: ngModel and two-way binding with banana in a box syntax -->
            <input
              type="number"
              min="1"
              id="qty-number"
              class="form-control"
              style="min-width: 100px"
              [(ngModel)]="item.quantity"
              (ngModelChange)="
                cartService.updateQuantity(item.product, item.quantity)
              "
            />
          </div>
        </td>
        <td>{{ item.quantity * item.product.price | number : "1.2-2" }}</td>
        <td>
          <img
            (click)="removeItem(item.product); $event.stopPropagation()"
            src="./assets/trash-can-svgrepo-com.svg"
            alt="Remove from cart"
            class="img-fluid flex-shrink-0"
            style="cursor: pointer; max-height: 24px"
          />
        </td>
      </tr>
      <tr class="table-secondary">
        <td>
          Total:
          <!-- '1.2-2' means {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}:
          A minimum of 1 digit will be shown before decimal point
          It will show at least 2 digits after decimal point
          But not more than 2 digits
          -->
          {{ total | number : "1.2-2" }}
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/products">
    <button class="btn btn-light m-1">Keep shopping</button>
  </a>
  <button class="btn btn-dark m-1">Continue to payment</button>
</div>
