<div class="container mt-5">
  <!-- Hero Section -->

  <div class="card border-primary mb-3">
    <h2 class="card-header">Welcome to Designer's Mind Online</h2>
    <div class="card-body">
      <p>
        Immerse yourself in the world of nerd and video game culture with a big
        dash of whimsy. At Designer's Mind Online, we craft unique products with
        a blend of technology and artistry. Through 3D printing, laser cutting,
        and traditional hand-making techniques, we bring you designs that are
        not just beautiful, but also fun, whimsical, and made to spread joy.
      </p>
    </div>
  </div>

  <!-- About the Design Process -->
  <div class="card border-info mb-3">
    <h4 class="card-header">Our Design Philosophy</h4>
    <div class="card-body">
      <p>
        Every product in our store is a result of countless hours of design and
        refinement. Our inspiration? The rich tapestry of nerd and video game
        culture. Each item is not just a product, but a story waiting to be
        told.
      </p>
      <p>
        From the detailed intricacies of 3D printing to the precision of laser
        cutting, and the warmth of handcrafted designs - every creation is a
        testament to our commitment to quality and our love for design.
      </p>
    </div>
  </div>

  <!-- Call to Action -->
  <div class="card border-info mb-3">
    <h4 class="card-header">Ready to Dive In?</h4>
    <div class="card-body d-flex flex-column">
      <p>
        Discover products that resonate with your passion and style. Join us on
        this unique journey of creativity and nostalgia.
      </p>
      <button routerLink="/products" class="btn btn-large btn-primary">
        Shop Now!
      </button>
    </div>
  </div>
</div>
